<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Works</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <h1>My biggest hits</h1>
    
    <img src="images/Mario_builder.webp" />
    
    <ul>Super Mario Bros</ul>
    <ul>Super Mario Bros.: The Lost Levels</ul>
    <ul>Super Mario Bros. 2</ul>
    <ul>Super Mario Bros. 3</ul>
    <ul>Super Mario Land</ul>
    <ul>Super Mario World</ul>
    <ul>Super Mario Land 2: 6 Golden Coins</ul>
    <ul>Super Mario 64</ul>
    <ul>Super Mario Sunshine</ul>
    <ul>New Super Mario Bros.</ul>
    <ul>Super Mario Galaxy</ul>
    <ul>New Super Mario Bros. Wii</ul>
    <ul>Super Mario Galaxy 2</ul>
    <ul>Super Mario 3D Land</ul>
    <ul>New Super Mario Bros. 2</ul>
    <ul>New Super Mario Bros. U</ul>
    <ul>Super Mario 3D World</ul>
    <ul>Super Mario Maker</ul>
    <ul>Super Mario Run</ul>
    <ul>Super Mario Odyssey</ul>
    <ul>Super Mario Maker 2</ul>
    
    <a href="/">Home</a>

</body>

</html>
